
.text-center{
    text-align: center !important;
}

.div-center{
    margin: 0 auto;
    width: 100px; 
}

label, input {
    display: inline-block;
}

label {
    margin-bottom: 20px;
}


.user-form { padding:20px; }

.user-form .field { padding: 4px; margin:1px; background: #eee; }

.user-form .field label { display:inline-block; width:200px; margin-left:5px; }

.user-form .field input { display:inline-block; }


#weight-div{
    background: #f4f4f4;
    width:400px; 
    height: 250px;
}

#temp-div{
    background-color: #f4f4f4;
    width:400px; 
    height:200px;
}

#dist-div{
    background-color: #f4f4f4; 
    width:400px; 
    height: 340px;
}